{% extends 'base.html.twig' %}

{% block body %}
    <br/><h3>Liste des stages de l'entreprise <span class="font-weight-bold">{{ entreprise.nom }}</span></h3>
    <br /><p>{{ entreprise.activite }}</p><br /> 
{% endblock %}

{% block stages %}

<a  href="{{path('modifierEntreprise',{id:entreprise.id})}}"><button type="button" class="btn btn-light">Modifier l'entreprise</button></a>

<div class="row">
    {% for stage in stages %}
        <div class="col-md-4 py-3">
                <div class="card">
                    <h5 class="card-header">
                        {{ stage.titre }}
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            Formation(s) demandée(s) : 
                            <span class="font-weight-bold">
                                {% for form in stage.formations %}
                                    <a href="{{path('formation',{id:form.id})}}" class="text-decoration-none">{{form.acronyme}}</a>,
                                {% endfor %}
                            </span>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{{path('stages',{id:stage.id})}}"><button type="button" class="btn btn-primary">Voir Plus</button></a>
                    </div>
                </div>
            </div>
    {% endfor %}

</div>
{% endblock %}