{% extends 'base.html.twig' %}

{% block body %}
<br/><h3>Liste des stages pour la formation <span class="font-weight-bold">{{ formation.acronyme }}</span></h3>
{% endblock %}

{% block stages %}
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{path('formation_index')}}"><button type="button" class="btn btn-primary">Administration</button></a>
    <br><br>    
{% endif %}
<div class="row">
    {% for stage in stages %}
        <div class="col-md-4 py-3">
                <div class="card">
                    <h5 class="card-header">
                        {{ stage.titre }}
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            Stage proposé par <span class="font-weight-bold"><a href="{{path('entreprise',{id:stage.identreprise.id})}}" class="text-decoration-none">{{ stage.identreprise.nom }}</a></span><br />
                            
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{{path('stages',{id:stage.id})}}"><button type="button" class="btn btn-primary">Voir Plus</button></a>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>
{% endblock %}