{% extends 'base.html.twig' %}
{% block body %}
    <h1>Modifier une entreprise</h1>
    {{ form_start(form) }}
    <br />
    <div class="form-group col-8">
        {{ form_label(form.nom) }}
        {{ form_errors(form.nom) }}
        <br />
        {{ form_widget(form.nom) }}
    </div>
    <div class="form-group col-8">
        {{ form_label(form.activite) }}
        {{ form_errors(form.activite) }}
        <br />
        {{ form_widget(form.activite) }}
    </div>
    <div class="form-group col-8">
        {{ form_label(form.adresse) }}
        {{ form_errors(form.adresse) }}
        <br />
        {{ form_widget(form.adresse) }}
    </div>
    <div class="form-group col-8">
        {{ form_label(form.lienSite) }}
        {{ form_errors(form.lienSite) }}
        <br />
        {{ form_widget(form.lienSite) }}
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-lg ml-5">Valider</button>

{% endblock %}